.single-form--password {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.single-form--password i {
    position: absolute;
    margin-right: 16px;

    cursor: pointer;
}