/******* Customized Bootstrap ********/

$brand: #ff1323;
$primary: $brand;
// $primary: #f3b706;
$secondary: #121214;
$light: #d1d5db;
$white: #fff;
$dark: #09090a;
$whatsapp: #25d366;

$font-family-base: 'Roboto', sans-serif;

$headings-font-family: 'Josefin Sans', sans-serif;

$condensed-font-family: 'Bebas Neue', sans-serif;
$headings-font-family: 'Josefin Sans', sans-serif;

$condensed-font-family: 'Bebas Neue', sans-serif;

$body-bg: $dark;

$body-color: $light;

$headings-color: #f3f4f6;

$headings-font-weight: 600;

$display-font-weight: 600;

$enable-responsive-font-sizes: true;

$border-color: #29292e;

$input-border-color: $border-color;

$border-radius: 0px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;